body{
    margin-left:30px;
    color:lightgreen;
    background: #23242a;
    font-size:25px;
    text-align: justify;
}

h1{
    text-align:center;
    font-size:40px;
    border: 1px solid black;
}

h2{
    font-size:25px;
}

li{
    font-weight: bold;;
}
.h2{
    position: absolute;
    top:60px;
    left:30px;
}

.kulonl{
    position: absolute;
    left:55px;
    top:145px;
}

.bekezdes{
    font-size:18px;
}

.col-sm-6{
    text-align:justify;
}

.ikon{
    position:absolute;
    top:200px;
    right:100px;
}

#ikon{
    width:450px;
    height:450px;
}