body{
    margin-left:30px;
    color:lightgreen;
    background: #23242a;
    font-size:25px;
    text-align: justify;
}

h1{
    text-align:center;
    font-size:40px;
    border: 1px solid lightgreen;
}

h2{
    font-size:25px;
}

li{
    font-weight: bold;
}


.kulonl{
    position: absolute;
    left:55px;
    top:145px;
}

.bekezdes{
    font-size:18px;
}

.kep1{
    width:500px;
    height:350px;
}

#kep1{
    position: absolute;
    top:200px;
    right:150px;
}

#kep2{
    position:absolute;
    top:470px;
    right:900px;
}

details {
    float:bottom;
    position:relative;
    width:300px;
    margin-right: 1rem;
}

details[open] {
    z-index:1;
}

summary {
    padding: 1rem;
    cursor:pointer;
    border-radius:5px;
    background-color:rgb(132, 136, 138);
    list-style:none;
}

summary::-webkit-details-marker{
    display:none;
}

details[open] summary:before{
    content:'';
    display: block;
    width:100vw;
    background:transparent;
    position: fixed;
    top:0;
    left:0;
}

summary:after{
    content:'';
    display: inline-block;
    float:right;
    width:.5rem;
    height:.5rem;
    border-bottom: 1px solid lightgreen;
    border-left: 1px solid lightgreen;
    border-bottom-left-radius: 2px;
    transform:rotate(45deg)translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
}

summary:focus{
    outline:none;
}

details[open] summary:after{
    transform: rotate(-45deg) translate(0%, 0%);
}

ul{
    width:100%;
    background:rgb(132,136,138);
    position:absolute;
    top:calc(100% + .5rem);
    left:0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height:200px;
    overflow-y: auto;
}

li{
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid lightgreen;
}

li:first-child{
    padding-top: 0;
}

li:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

summary.radios{
    counter-reset: radios;
}

summary.radios:before{
    content:var(--selection);
}